.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-top: 20px;
    background-color: #ffffff;
}

.calendar div {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

/* .calendar div:hover {
    transform: scale(1.05);
} */

.header {
    background-color: #ad96e8; 
    color: white;
    font-weight: bold;
    border: none;
}

.white { 
    background-color: #ffffff;
}

.green { 
    background-color: #28a745; 
    color: white;
}

.blue { 
    background-color: #275ae6; 
    color: white;
}

.gray { 
    background-color: #6c757d; 
    color: white;
}

.inactive {
    background-color: #e9ecef;
    color: #adb5bd;
    box-shadow: none;
    cursor: default;
    pointer-events: none;
}